{{player-name}} has played {{tot-games}} {{tot-games-pl}} over {{tot-matches}} {{tot-matches-pl}}
Last played: {{lp-game}}, {{lp-date}} ({{lp-date-nlp}})
Most played: {{mp-game}}
    H-Index: {{h-index}}

Top {{ts-games-cnt}} skilled {{ts-games-pl}}
{{#ts-games}}
> {{skill}} in {{game}}
{{/ts-games}}

Top {{tr-games-cnt}} ranked {{tr-games-pl}}
{{#tr-games}}
> #{{rank}} in {{game}}
{{/tr-games}}
{{#has-trophies}}

Trophies
{{#trophies}}
> {{trophy}}: {{game}}
{{/trophies}}
{{/has-trophies}}
{{#has-challenges}}

Challenges
{{#challenges}}
> {{challenge}}: {{value}}
{{/challenges}}
{{/has-challenges}}
{{#has-achievements}}

Achievements
{{#achievements}}
> {{achievement}}: {{value}}
{{/achievements}}
{{/has-achievements}}
{{#has-badges}}

Badges
{{#badges}}
> {{badge}}: {{value}}
{{/badges}}
{{/has-badges}}